{% extends "layout.html" %}

{% block title %}
SS Django Class
{% endblock %}


{% block content %}
  <h1 class="bg-green-500 text-3xl">Hii! This is my first Django Project!</h1>
  <p>This is paragram of </p>
{% endblock  %}






{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <title>SS Django Class</title>
</head>
<body>
  <h1>This is my first Django Project!</h1>



</body>
</html> {% endcomment %}